/* Charizard */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    overflow-x: hidden;
}


.cont-poke {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cont-principal {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}


.charizard {
    margin-top: 5%;
    width:800px;
    animation: jump 1.5s linear infinite;
    transform: rotatey(180deg);
}

.logo {
    width: 70%;
}


.video {
    position: fixed;
    width: 100%;
}

@keyframes jump {
    100% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(20px);
    }

    0% {
        transform: translateY(-10px);
    }
}


.main {
    position: relative;
    perspective: 1000px;
    margin-left: 10vw;
    padding-top: 15vh;
}

.card {
    margin-top: 10vh;
    scale: 1.3;
    width: 270px;
    height: 380px;
    transition: all 1.5s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    border-radius: .8vw;
    box-shadow: .5px 1px 10px black;
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: url(assets/face.png);
    transform-style: preserve-3d;
    background-size: cover;
    background-repeat: no-repeat;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: .8vw;
    background:url(assets/back.png);
    transform: rotateY(180deg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* .shadow {
    background-color: black;
    height: 10vh;
    width: 100%;
    position: fixed;
    border-radius:50%;
    filter: blur(2.2vw);
    z-index: -100;

} */



@media screen and (max-width:1400px) {
    .video {
        width: auto;
        height: 300%;
    }

    
    .cont-principal {
        flex-wrap: wrap;
    }

    
    .charizard {
    width: 95%;
    }

    .logo {
        width: 85%;
    }
}

@media screen and (min-width:1700px) {
    .charizard {
        margin-top: 20%;
        width: 95%;
        scale: 1.5;
        margin-bottom: 15%;
        }

    .logo {
        width: 100%;
    }

    .card {
        scale: 1.8;
    } 
}



@media screen and (min-width:1900px) {
    .charizard {
        margin-top: 15vh;
        width: 100%;
        margin-bottom: 20%;
    }

    .logo {
        width: 120%;
    }

    .card {
        margin-top: 100%;
        scale: 2;
    } 
}



@media screen and (min-width:2800px) {
    .charizard {
        margin-top: 15vh;
        width: 150%;
        margin-bottom: 20%;
    }

    .logo {
        width: 150%;
    }

    .card {
        margin-top: 25vh;
        scale: 2.5;
    } 
}



@media screen and (min-width:3000px) {
    .charizard {
        margin-top: 15vh;
        width: 200%;
        margin-bottom: 20%;
    }

    .logo {
        width: 200%;
    }

    .card {
        margin-top: 25vh;
        scale: 3;
    } 
}